.slider {
    position: fixed;
    top: 5px;
    width: 180px;
    left: -200px;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 10px;
    height: 100%;
    background-color: rgb(226, 225, 225);
    border-radius: 0px 6px 6px 0px;
    transition: left 0.3s ease;
    li {
        margin-bottom: 20px;
        margin-right: 10px;
        font-size: 20px;
        color: black;
        padding: 6px;
        border-radius: 3px;
        a {
            width: inherit;
            text-decoration-line: none;
            color: inherit;
            
        }
    }
    li:hover {
        background-color: rgb(207, 204, 204);
        a {
            font-weight: bold;
        }
    }
    li:active {
        transform: scale(0.8);
        list-style: none;
    }
}
.slider.active {
    left: 0px;
}
.menu {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 5px;
    margin: 0px 0px 0px 10px;
    padding-top: 3px;
    border: none;
    background-color: inherit;
    cursor: pointer;
    img {
        width: 100%;
    }
}
.menu:hover {
    background-color: rgb(207, 204, 204);
}
.menu:active {
    img {
        width: 80%;
    }
}

.container {
    display: grid;
    width: 80%;
    grid-template-columns: 100%;
    margin: 0 auto;
    margin-top: 20px;
    /* リリース時削除 */
    /* background-color: aqua; */
    
    .header {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 30px;
        /* リリース時削除 */
        /* background-color: aquamarine; */
    }


    /*共通*/
    .addTaskButton {
        border-radius: 10px;
        padding-bottom: 3px;
        text-align: center;
        background-color: black;
        color: white;
    }

    /*index.html*/
    .tasks {
        /* リリース時削除 */
        /* background-color: burlywood; */
        .addTask {
            display: grid;
            grid-template-columns: 1fr 45px;
            border: 1px solid silver;
            border-radius: 10px;
            margin-bottom: 5px;
            padding: 2px;
            .addTaskForms {
                display: grid;
                align-items: center;
                color: dimgray;
                padding-left: 10px;
                pointer-events: auto;
                user-select: text;
                .addTaskInitial {
                    grid-column: 1;
                    grid-row: 1;
                }
                .addTaskForm {
                    grid-column: 1;
                    grid-row: 1;
                    color: black;
                }
            }
            
            .addTaskButton {
                font-size: 35px;
                width: 100%;
            }
            .addTaskButton:hover {
                background-color: silver;
            }
            
            /* リリース時削除 */
            /* background-color: beige; */
        }
        

        .taskBoxs {
            
            /* リリース時削除 */
            /* background-color: cadetblue;
            display: flex;
            flex-direction: column; */

            .taskBox {
                display: grid;
                grid-template-columns: 35px 2fr 1fr;
                grid-template-rows: 1fr 1fr;
                border: 1px solid silver;
                border-radius: 10px;
                padding: 10px;
                margin-bottom: 5px;
                height: 40px;

                .circle {
                    grid-column: 1 / 2;
                    grid-row: 1 / 3;
                    padding-left: 3px;
                    margin-right: 3px;
                    img {
                        width: 80%;
                        margin-top: 8px;
                    }
                }
                .taskName {
                    grid-column: 2;
                    grid-row: 1;
                    font-size: 20px;
                    font-weight: bold;
                }
                .deadline {
                    grid-column: 3;
                    grid-row: 1;
                    color: dimgray;
                    text-align: right;
                }
                .taskCategory {
                    grid-column: 2;
                    color: dimgray;
                }
                .statusarea {
                    grid-column: 3;
                    grid-row: 2;
                    text-align: right;
                    .status {
                        display: inline-block;
                        color: red;
                        border: 1px solid black;
                        padding: 1px;
                        padding-bottom: 5px;
                        border-radius: 3px;
                        color: dimgray;
                    }
                }
            }
            .taskBox.dragging {
                opacity: 0.5;
            }
        }
    }
    
    /*addTask.html*/
    .exit {
        text-align: right;        
    }
    .exit:hover {
        font-weight: bold;
    }
    a {
        text-decoration: none;
    }
    .addTaskDetailArea {
        
        .addTaskDetail {
            display: grid;
            grid-template-columns: 5fr 1fr;
            border: 1px solid black;
            border-radius: 5px;
            margin-bottom: 5px;
            align-items: center;
            height: 40px;
            padding-left: 10px;
            color: dimgray;
            pointer-events: auto;
            user-select: text;
            .addTaskDetailInitial {
                grid-column: 1;
                grid-row: 1;
            }
            .addTaskDetailForm {
                grid-column: 1;
                grid-row: 1;
                color: black;
                display: grid;
            }
            .hidden-date-input {
            position: absolute;
            opacity: 0;
            pointer-events: none;
            }
            .icon {
                width: 63%;
                grid-column: 2;
                grid-row: 1;
                text-align: right;
                padding-right: 8px;
                padding-bottom: 3px;
                font-size: 25px;
                cursor: pointer;
            }
        }
        .addTaskButton {
            height: 40px;
            width: 100%;
            display: flex;
            justify-content: center; /* 左右中央 */
            align-items: center;     /* 上下中央 */
            font-weight: bold;
            font-size: 15px;
            
        }
        .addTaskButton.hover-enabled {
            background-color: silver;
        }
        
        
    }
    
    /*category.css*/
    .addCategory {
        display: grid;
        grid-template-columns: 1fr 45px;
        border: 1px solid silver;
        border-radius: 10px;
        margin-bottom: 5px;
        padding: 2px;
        .addCategoryArea {
            display: grid;
            align-items: center;
            color: dimgray;
            padding-left: 10px;
            pointer-events: auto;
            user-select: text;
            .addCategoryInitial {
                grid-column: 1;
                grid-row: 1;
            }
            .addCategoryForm {
                grid-column: 1;
                grid-row: 1;
                color: black;
            }
        }
        .addTaskButton {
            font-size: 35px;
            width: 100%;
        }
        .addTaskButton:hover {
            background-color: silver;
        }
    }
    .categoryBox {
        display: grid;
        grid-template-columns: 8fr 1fr;
        height: 50px;
        background-color: whitesmoke;
        border-radius: 10px;
        margin-bottom: 2px;
        .category {
            display: flex;
            grid-column: 1;
            align-items: center;
            padding-bottom: 3px;
            padding-left: 10px;
        }
        .edit_category {
            cursor: pointer;
            grid-column: 2;
            padding-bottom: 5px;
            border: none;
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform 0.1s ease, opacity 0.1s ease;
            img {
                width: 100%;
                margin-top: 8px;
            }

        }
        .edit_category:active {
            transform: scale(0.2);
            opacity: 8.7;
        }
    }
}

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50%;
    border-radius: 4px;
    padding: 10px;
    .categoryChangeExit {
        cursor: pointer;
        text-align: right;
        margin-bottom: 20px;
    }
    .categoryChangeName {
        text-align: center;
        margin-bottom: 5px;
        border: 1px solid silver;
        border-radius: 10px;
        padding: 2px;
        height: 20px;
        padding: 5px;
        font-size: 20px;
        padding-bottom: 7px;
    }
    .categoryChangeButtonArea {
        display: flex;
        justify-content: center;
        .categoryChangeButton {
            cursor: pointer;
            text-align: center;
            border-radius: 10px;
            font-size: 18px;
            padding: 10px;
            width: auto;
        }

    }
    
}
.hidden {
    display: none;
}

.duplicateModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50%;
    border-radius: 4px;
    padding: 10px;
    .duplicateButtonArea {
        display: flex;
        justify-content: center;
        .categoryChangeButton {
            cursor: pointer;
            text-align: center;
            border-radius: 10px;
            font-size: 18px;
            padding: 10px;
            width: auto;
        }
        .duplicateButton {
            cursor: pointer;
            text-align: center;
            border-radius: 5px;
            font-size: 18px;
            margin: 20px;
            padding: 5px;
            width: auto;
        }
    }
}


