.addArea {
    display: grid;
    grid-template-columns: 1fr 45px;
    border: 1px solid silver;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 2px;
    .addNameArea {
        display: grid;
        align-items: center;
        color: dimgray;
        padding-left: 10px;
        pointer-events: auto;
        user-select: text;
        .addNameInitial {
            grid-column: 1;
            grid-row: 1;
        }
        .addNameForm {
            grid-column: 1;
            grid-row: 1;
            color: black;
        }
    }
    .addNameButton {
        font-size: 35px;
        width: 100%;
        color: black;
        border-radius: 5px;
        border: none;
    }
    .addNameButton:hover {
        background-color: slategray;
        cursor: pointer;
    }
}
.nameBox {
    display: grid;
    grid-template-columns: 8fr 1fr;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-bottom: 4px;
    border: solid silver 1px;
    background-color: ghostwhite;
    .name {
        height: inherit;
        grid-column: 1;
        display: flex;
        align-items: center;
        padding-left: 10px;
        font-size: 22px;
    }
    .edit_name {
        height: inherit;
        cursor: pointer;
        grid-column: 2;
        border: none;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.1s ease, opacity 0.1s ease;
        img {
        height: 60%;
        }
        
    }
    .edit_name:active {
            transform: scale(0.8);
            opacity: 0.8;
        }
    
}

.overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        width: 50%;
        border-radius: 4px;
        padding: 10px;
        .categoryChangeExit {
            cursor: pointer;
            text-align: right;
            margin-bottom: 20px;
        }
        .NameChange {
            text-align: center;
            margin-bottom: 5px;
            border: 1px solid silver;
            border-radius: 10px;
            padding: 2px;
            height: 20px;
            padding: 5px;
            font-size: 20px;
            padding-bottom: 7px;
        }
        .buttonArea {
            display: grid;
            grid-template-columns: 1fr 1fr;
            .NameChangeButtonArea {
                margin: 5px;
                grid-column: 1;
                display: flex;
                justify-content: center;
                .NameChangeButton {
                    cursor: pointer;
                    text-align: center;
                    font-size: auto;
                    border-radius: 10px;
                    padding: 10px;
                    width: 100%;
                }

            }
            .NameDeleteButtonArea {
                margin: 5px;
                grid-column: 2;
                display: flex;
                justify-content: center;
                .NameDeleteButton {
                    cursor: pointer;
                    text-align: center;
                    font-size: auto;
                    font-weight: 900;
                    color: red;
                    border-radius: 10px;
                    padding: 10px;
                    width: 100%;
                }
            }
        }
        
        
    }
    .hidden {
        display: none;
    }

    .duplicateModal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        width: 50%;
        border-radius: 4px;
        padding: 10px;
        .duplicateButtonArea {
            display: flex;
            justify-content: center;
            .duplicateButton {
                cursor: pointer;
                text-align: center;
                border-radius: 5px;
                font-size: 18px;
                margin: 20px;
                padding: 5px;
                width: auto;
            }
        }
    }
